@using WebApplication.Controllers;
@{
    ViewData["Title"] = "Cardápio";
    List<Refeicao> refeicoes = CadastroController.GetRefeicoes();
}

<table class="table my-4">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Prato</th>
            <th scope="col">Valor</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Refeicao refeicao in refeicoes)
        {
            <tr>
                <td>@refeicao.IdRefeicao</td>
                <td>@refeicao.Descricao</td>
                <td>@refeicao.Valor</td>
            </tr>
        }
    </tbody>
</table>